<dialog #dialog>
  <h2>Edit Task</h2>
  <form class="task-form" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        placeholder="{{ task.title }}"
        formControlName="title"
        id="title"
        class="form-control"
        name="title"
        type="text"
        required
      />
      <div
        class="input-error"
        *ngIf="
          taskForm.get('title')?.hasError('required') &&
          taskForm.get('title')?.touched
        "
      >
        Title is required
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input
        placeholder="{{ task.description }}"
        formControlName="description"
        id="description"
        class="form-control"
        name="description"
        type="text"
      />
    </div>

    <div class="form-group">
      <label for="status">Status</label>
      <select
        class="form-control"
        id="status"
        formControlName="status"
        [value]="task.status"
      >
        @if(["todo"].includes(task.status)) {
        <option value="todo">TO DO</option>
        } @if(["todo", "in-progress"].includes(task.status)) {
        <option value="in-progress">IN PROGRESS</option>
        } @if(["in-progress", "done"].includes(task.status)) {
        <option value="done">DONE</option>
        }
      </select>
    </div>

    <div class="button-group">
      <div>
        <button class="btn danger" type="button" (click)="deleteTask(task)">
          Delete
        </button>
      </div>

      <div class="button-right">
        <button class="btn secondary" type="button" (click)="closeDialog()">
          Cancel
        </button>
        <button
          class="btn primary ml-10"
          type="submit"
          [disabled]="taskForm.invalid"
        >
          Update
        </button>
      </div>
    </div>
  </form>
</dialog>

<fa-icon
  class="edit-icon"
  [icon]="faPenToSquare"
  (click)="openDialog()"
></fa-icon>
