.main {
  width: 100%;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.main-container {
  width: 30rem;
  margin: auto;
  padding: 20px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.primary {
  background-color: #007bff;
}

.btn.primary:hover {
  background-color: #0056b3;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
